.universe-settings {
  --bright-blue: #4094F7;
  --width: 92rem;
  position: fixed;
  top: 1.8rem;
  left: calc(50% - (var(--width) / 2)); 
  width: 100vw;
  max-width: var(--width);
  height: calc(100vh - 3.6rem);
  z-index: 99999999999999;
  background: white;
  box-shadow: var(--elevation-2);
  border: 1px solid var(--slate-3);
  border-radius: 1.8rem;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: visible;
  padding: 7.6rem 1.8rem 1.8rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform .18s ease-in, opacity .18s ease-in, visibility .18s ease-in;
  transform: translate(calc(-50vw + 34rem), calc(-50vh + 2.8rem)) scale(0.03);
}

.universe-settings--visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translate(0, 0) scale(1);
}

.universe-settings__skrim {
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50vw, -50vh) scale(80);
  z-index: -2;
  background-color: rgba(0,0,0,.85);
  backdrop-filter: blur(3px);
  border: 0;
  transition: transform .18s ease-in;
  color: transparent;
  cursor: pointer;
}

.universe-settings--visible .universe-settings__skrim {
  transform: translate(-50vw, -50vh) scale(1);
}

.universe-settings .domains-page {
  height: 100%;
}

.universe-settings--hidden * {
  pointer-events: none !important;
}

.universe-settings::before {
  content: "";
  width: 100%;
  height: 12.8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 0.8rem 0.8rem 0 0;
  box-shadow: var(--elevation-4);
  background-color: var(--blue);
  background-image: linear-gradient(-5deg, var(--blue-3) -25%, var(--bright-blue));
}

.universe-settings .login-form .login-form__user-card--logged-in {
  border: none;
  box-shadow: var(--elevation-2);
  border-radius: 0.5rem;
}

.universe-settings__nav {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 12rem;
  top: 0;
}

.universe-settings .sub-nav__link {
  color: white;
  font-weight: bold;
}

.universe-settings .sub-nav__link.sub-nav__link--active {
  color: var(--blue);
}

.universe-settings .sub-nav__link.sub-nav__link--active::after {
  background-color: white;
}
.universe-settings .sub-nav__link:not(.sub-nav__link--active):hover {
  color: white;
}
.universe-settings .sub-nav__link:not(.sub-nav__link--active):hover::after {
  background-color: white;
}

.universe-settings__title {
  padding: 1.8rem 0 0.2rem;
  margin-bottom: 2.4rem;
  display: block;
  font-size: 2.8rem;
  font-weight: 600;
  border-bottom: 4px solid currentColor;
  position: absolute;
  width: fit-content;
  top: 0;
  left: 1.8rem;
}

.universe-settings__menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
  padding-right: 0.6rem;
  padding-bottom: 0;
  color: var(--blue-6);
  font-size: 3.2rem;
  font-weight: 600;
  list-style: none;
  gap: 1.8rem;
}

.universe-settings__menu-link {
  color: black;
  padding: 0.8rem 0rem 0.2rem;
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: inherit;
  transition: color .18s ease-in-out, text-shadow .18s .18s ease-in-out;
  box-shadow: inset 0 0px 0 0 black;
  font-weight: 600;
  border-radius: 0.8rem;
  user-select: none;
  border: 8px solid transparent;
  border-width: 2px 8px;
  box-sizing: content-box;
  position: relative;
  /* text-shadow: 0 3px 0 white, -2px 2px 0 white, 2px 2px 0 white; */
}

.universe-settings__menu-link::before {
  content: "";
  width: 100%;
  height: 0px;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--blue-3);
  transition: height .18s ease-in-out, box-shadow .18s ease-in-out, border-radius .18s ease-in-out, transform .18s ease-in-out;
  z-index: -1;
  transform: translateY(2px);
}

.universe-settings__menu-link:hover {
  color: var(--blue-3);
}

.universe-settings__menu-link:hover::before {
  height: 4px;
}

.universe-settings__menu-link--active {
  text-shadow: none;
  color: white !important;
  transition: text-shadow 0s ease-in-out;
}

.universe-settings__menu-link--active::before {
  height: 100% !important;
  box-shadow: 0 0 0 4px var(--blue-3), -6px 0 0 4px var(--blue-3), 6px 0 0 4px var(--blue-3), 0 2px 2px 4px rgba(0,0,0,.15) !important;
  border-radius: 0.8rem;
  transform: translateY(2px);
}

.universe-settings__section {
  width: 100%;
  height: calc(100% - 12.8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12.8rem;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  right: 0;
  flex-flow: column;
  padding: 1.8rem 1.8rem 0;
  border-radius: 0 0 0.8rem 0.8rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: auto;
  border-top: 1px solid var(--slate-4);
  background-color: white;
  z-index: 0;
  transition: opacity .18s ease-in-out, visibility .18s ease-in-out;
}

.universe-settings .login-form {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  padding: 0;
  width: 32rem;
  min-width: unset;
  transform: scale(.85);
  transform-origin: 100% 0%;
}

.universe-settings__section--active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.universe-settings__back {
  position: fixed;
  top: 0.9rem;
  left: 40rem;
  width: 4.8rem;
  height: 4.8rem;
  color: black;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transform: translateX(calc(-100% - 1.8rem));
  transition: box-shadow .18s ease-in-out;
  padding: 0.8rem 0 0.6rem;
  box-shadow: inset 0 0px 0 0 black;
  user-select: none;
  font-size: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.universe-settings__back::before {
  content: "\f00d";
  font-family: 'fontawesome';
  font-size: 2.8rem;
}

.universe-settings__account {
  position: absolute;
  top: 1.8rem;
  left: 1.8rem;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.8rem 1.8rem 0.8rem 0.8rem;
  box-sizing: border-box;
  height: 4rem;
  background: white;
  border-radius: 0.4rem;
  box-shadow: var(--elevation-2);
  margin-left: 2.8rem;
}

.universe-settings__account::before {
  content: "\f104";
  font-family: 'fontawesome';
  position: absolute;
  left: -4rem;
  font-size: 2.4rem;
  color: white;
  width: 3.8rem;
  height: 4.2rem;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  transition: transform .18s ease-in-out;
}

.universe-settings__account:hover::before, .universe-settings__account:focus::before {
  transform: translateX(-0.4rem);
}

.universe-settings__account-image {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.4rem;
  margin-right: 0.8rem;
}

.universe-settings__account-realm {
  font-size: 1.6rem;
  color: black;
}

.universe-settings .billing-page {
  font-family: Jost;
  font-weight: 600;
}

.universe-settings .billing__invoice li:nth-child(2) {
  display: none;
}


.universe-settings__billing-alert-title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  margin: -8.2rem 0 0.8rem;
}
.universe-settings__billing-alert-title::before {
  content: "\f890";
  font-family: 'fontawesome';
  font-size: 8.2rem;
  color: var(--orange);
  margin-bottom: 0.8rem;
}

.universe-settings__billing-alert-subtitle {
  font-size: 2.4rem;
  text-align: center;
  max-width: 52rem;
  margin: 0 0 4.2rem;
}

.universe-settings__billing-alert-button {
  padding: 1.2rem 2.8rem;
  font-size: 1.8rem;
  color: white;
  background-color: var(--bright-blue);
  box-shadow: var(--elevation-2);
  border-radius: 0.8rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: transform .18s ease-in-out;
}

.universe-settings__billing-alert-button::after {
  content: "\f105";
  font-family: 'fontawesome';
  margin-left: 0.8rem;
  margin-right: -0.8rem;
  position: relative;
  transition: transform .18s ease-in-out;
}

.universe-settings__billing-alert-button:hover {
  transform: scale(1.025);
}
.universe-settings__billing-alert-button:hover::after {
  transform: translateX(0.2rem);

}

@media (max-width: 680px) {
  .universe-settings {
    width: 100vw;
    transform: none;
    left: 0;
    top: 0;
    height: 100vh;
  }
  .universe-settings__account {
    background-color: transparent;
    box-shadow: none;
  }

  .universe-settings__account * { 
    opacity: 0;
  }

  .universe-settings .login-form {
    width: calc(100% - 1.2rem);
  }
}