.toast--success::before {
  content: "\f00c";
  font-family: 'fontawesome';
  color: white;
  font-size: 1.4rem;
  margin-left: 0.6rem;
}

.toast--error::before {
  content: "\f00d";
  font-family: 'fontawesome';
  color: white;
  font-size: 1.4rem;
  margin-left: 0.6rem;
}

.collection__preview {
  width: 100%;
  gap: 0.4rem;
  display: flex;
  flex-flow: column;
}

.collection__preview-list {
  flex-grow: 1;
  position: relative;
  z-index: 1;
}

.collection__preview-row {
  list-style: none;
  position: relative;
  user-select: none;
}

.collection__row-select {
  display: grid;
  grid-template-columns: 6.2rem 1fr 2.4rem;
  grid-template-rows: 2.1rem 1.8rem auto;
  margin: 0;
  width: 100%;
  grid-gap: 0 0.8rem;
  color: inherit;
  padding: 0.8rem;
  margin: 0 -0.8rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  min-height: 8rem;
  z-index: 1;
  background: var(--blue-6);
  transition: background-color .18s ease-in-out, box-shadow .18s ease-in-out, border-color .18s ease-in-out;
  -webkit-user-select: none; /* Safari 3.1+ */ 
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */ 
  user-select: none; /* Standard syntax */ 
  user-drag: none; 
  -webkit-user-drag: none; 
}

.collection__row-select:hover, 
.collection__row--grab .collection__row-select,
.collection__preview-row:hover .collection__row-select {
  background-color: white;
  box-shadow: var(--elevation-2);
  border: 1px solid var(--blue-3);
  text-decoration: none;
}

.collection__row-select::after {
  content: "\f054";
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column: 3;
  display: flex;
  justify-content: center;
  font-family: "fontawesome";
  align-items: center;
  font-size: 2.4rem;
  color: var(--slate-3);
  transition: color .18s ease-in-out;
}

.collection__row-select:hover::after {
  color: var(--blue);
}

.collection__preview-value {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 2.4rem;
}

.collection__preview-value--image {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection__preview-value:nth-of-type(2) {
  font-weight: bold;
  font-size: 1.8rem;
}

.collection__preview-value:last-of-type {
  color: var(--slate-2);
  margin-top: 0.2rem;
}

.collection__preview-value--image img {
  width: 6.2rem;
  height: 6.2rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.6rem;
  border: 1px solid var(--slate-4);
}

.collection__new {
  color: var(--slate-3);
  height: 8rem;
  text-align: left;
  text-transform: capitalize;
  width: calc(100% - 0.8rem);
  background: none;
  border: 3px dashed;
  justify-content: flex-start;
  margin: 0 -0.8rem 0.4rem 1.2rem;
  border-radius: 0.4rem;
  padding-left: 7.6rem;
  font-size: 1.6rem;
  font-weight: bold;
  transition: color .18s ease-in-out, background-color .18s ease-in-out;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.collection__new:hover {
  color: var(--slate-0);
  background-color: white;
}

.collection__new::before {
  content: "\002b";
  width: 6.2rem;
  height: 6.2rem;
  justify-content: center;
  align-items: center;
  font-family: fontawesome;
  font-size: 4.2rem;
  display: flex;
  position: absolute;
  top: 6px;
  left: 7px;
  bottom: 4px;
  line-height: 0px;
  padding-bottom: 4px;
  border-radius: 0.8rem;
}

.collection__new::after {
  content: "\f054";
  display: flex;
  justify-content: center;
  font-family: "fontawesome";
  align-items: center;
  font-size: 2.4rem;
  position: absolute;
  right: 1rem;
  top: 1px;
  height: 100%;
  color: var(--slate-3);
  transition: color .18s ease-in-out;
}

.collection__new:hover::after {
  color: var(--slate-0);
}

.collection__preview.sortable .collection__preview-row::before {
  justify-content: center;
  content: ".. .. ..";
  cursor: move;
  vertical-align: middle;
  letter-spacing: 2px;
  color: currentColor;
  width: 3.2rem;
  height: 100%;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 4px;
  display: flex;
  position: absolute;
  top: 50%;
  left: -1.8rem;
  overflow: hidden;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  padding: 0 1rem 0.8rem;
}

.image-focus__fit-toggle, .image-focus__retina {
  z-index: 999;
}
