<h1 class="heading">
  <a href="#" class="toggle-sidebar" title="Toggle sidebar">Toggle sidebar</a>
  {{title}}
</h1>

<section class="section page-templates">
  <h2 class="page-templates__header">Select a Page Template</h2>
  <ul class="page-templates__list">
    {{#each templates}}
      {{#if hasView}}
        <li class="page-templates__template">
          <a href="/dashboard/new/page/{{name}}">{{#if (eq name 'index')}}Home{{else}}{{name}}{{/if}}</a>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</section>
