.field__font .fontpicker {
  background-color: white;
  border: 1px solid var(--slate-3);
  box-shadow: var(--elevation-2);
  border-radius: 0.4rem;
  height: 4.8rem;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23909eb2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: calc(100% - 1.8rem) 1.8rem;
  background-size: 1.2rem;
  background-repeat: no-repeat;
  font-size: 1.6rem;
}

.field__font .fontpicker__option,
.field__font .fontpicker__nomatches {
  background: white;
  border: 0rem solid transparent;
  border-width: 0.7rem 0;
  height: 2em;
  box-sizing: content-box;
  transition: background-color .18s ease-in-out;
  color: var(--slate-3);
}

.field__font .fontpicker__option.selected {
  background-color: var(--blue-6);
}

.field__font .fontpicker__popout {
  left: -1px;
  top: calc(100% - 1px);
  width: calc(100% + 2px);
  border-radius: 0 0 0.4rem 0.4rem;
  border: 1px solid var(--bold-blue-3);
  box-shadow: var(--elevation-2);
  transition: opacity .18s ease-in-out;
}

.field__font .fontpicker__preview {
  filter: none;
  background-position-x: 0.8rem;
  margin: 0.7rem 0;
  background-clip: content-box;
}

.field__font .fontpicker__search {
  height: 100%;
  border-radius: 0.4rem 0.4rem 0 0;
  font-size: 1.6rem;
}

.field__font .fontpicker__search:focus {
  margin: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
