.form {
  --form-border: 1px solid var(--slate-3);
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  transition: border 0.18s ease-in-out;
}

.form:hover,
.form:focus-within {
  border-color: var(--blue-3);
}

.form input,
.form textarea,
.form .wysiwyg {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.form .wysiwyg {
  border: 1px solid var(--slate-3);
  border-radius: 0.4rem;
  min-height: 9.8rem;
  background: white;
  box-shadow: var(--elevation-2);
}

.form .wysiwyg::after {
  content: "";
  display: table;
  clear: both;
}
.form input:not(.button),
.form textarea {
  display: block;
  width: 100%;
  padding: 1rem 1rem;
  border: var(--form-border);
  border-radius: 4px;
  font-size: 1.4rem;
  resize: none;
  background: white;
  box-shadow: var(--elevation-2);
  margin-bottom: 0;
}

.form textarea {
  line-height: 1.2;
	min-height: 5.4rem;
}

.form input:not(.button)::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: var(--grey);
}

.form input:not(.button)::-moz-placeholder,
.form textarea::-moz-placeholder {
  color: var(--grey);
}

.form input:not(.button):-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: var(--grey);
}

.form input:not(.button):-moz-placeholder,
.form textarea:-moz-placeholder {
  color: var(--grey);
}

.form .ql-toolbar {
  border-radius: 2px 2px 0 0;
  display: grid;
  grid-auto-rows: 3.2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}

.form .fieldset {
  border: 0;
  margin-left: 2.4rem;
}
.form .fieldset label {
  margin-top: 1.2rem;
}
.form .fieldset small {
  display: block;
}
.form .field,
.form .fields {
  margin-bottom: 1.8rem;
}

.form .content {
  padding: 1.8rem;
  flex-grow: 1;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.form .field.submit,
.form .fields.submit {
  position: sticky;
  bottom: 0;
  background: transparent;
  box-shadow: inset 0 -10px var(--blue-6);
  z-index: 9;
  height: 5.8rem;
  padding: 0 1.4rem;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
	align-items: center;
	margin: 0;
	border: none;
}
.form .field.inline,
.form .fields.inline {
  margin-bottom: 0;
}
.form .field.inline input.button,
.form .fields.inline input.button {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .form .field.inline,
  .form .fields.inline {
    display: flex;
    margin-bottom: 1em;
  }
  .form .field.inline input.button,
  .form .fields.inline input.button {
    margin-top: 0;
    margin-left: 1rem;
  }
}
.form .field label,
.form .fields label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}
.form .field label.hidden,
.form .fields label.hidden {
  font-size: 0;
  width: 0;
  margin-bottom: 0;
}
.form .field label + small,
.form .fields label + small {
  margin-top: -0.6rem;
  margin-bottom: 1rem;
}
.form .field label small,
.form .fields label small {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--slate-2);
  text-transform: none;
  line-height: 1;
  margin-top: 0.4rem;
}
.form .field.required label:after,
.form .fields.required label:after {
  display: inline-block;
  content: "*";
  color: var(--red);
  margin-left: 0.5rem;
}
.form .field > small,
.form .fields > small {
  display: block;
  font-size: 1.2rem;
  color: var(--grey-dark);
}
.form .field > small.error-message,
.form .fields > small.error-message {
  color: var(--red);
  margin-top: 0.5rem;
}
.form .field.error .wysiwyg,
.form .fields.error .wysiwyg,
.form .field.error .previewable,
.form .fields.error .previewable,
.form .field.error .dropdown.selection,
.form .fields.error .dropdown.selection,
.form .field.error .ui.checkbox label:before,
.form .fields.error .ui.checkbox label:before,
.form .field.error input:not(.button),
.form .fields.error input:not(.button) {
  background-color: var(--red-lighter);
  border-color: var(--red);
}
.form .field.error .ql-toolbar,
.form .fields.error .ql-toolbar {
  border-top-color: var(--red);
  border-right-color: var(--red);
  border-left-color: var(--red);
}

.form .field__font select {
  height: 3.2rem;
  padding: 0 0.8rem;
  border-radius: 0.4rem;
  width: 100%;
}

.form .field__choice {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 0.8rem;
  border: var(--form-border);
  border-radius: 4px;
  user-select: none;
  background: white;
  box-shadow: var(--elevation-2);
}

.form .field__choice .help {
  margin-bottom: 0.4rem;
}

.form .field__choice.checkbox--1 {
  padding-left: 3.8rem;
}

.form .field__choice .checkbox.checkbox--single {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.2rem;
  padding: 0;
  pointer-events: none;
}

.form .field__choice .checkbox.checkbox--single label {
  color: transparent;
  margin-bottom: 0;
}

.form .field__checkbox > label {
  cursor: pointer;
  margin: 0;
  padding: 1.2rem;
}

.form .field__choice > label {
  cursor: pointer;
  margin: 0 0 0 -3.8rem;
  padding: 0 0 0 3.8rem;
}

.form .checkbox--multiple {
  margin-top: 1.8rem;
}

.form .field__choice .ui.dropdown {
  width: calc(100% - 2.4rem);
  margin: 0 1.2rem 1.2rem;
}

.form .field__link fieldset {
  position: relative;
  padding: 0.8rem;
  border: var(--form-border);
  border-radius: 4px;
  user-select: none;
  margin-left: 0;
  background: white;
  box-shadow: var(--elevation-2);
}
.form .field__link label {
  margin-top: 0;
}
.form .field__link select {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  width: calc(50% - 1.2rem);
  border: var(--form-border);
  padding: 0 3.2rem 0 1.2rem;
  line-height: 1.2;
  background: white;
  border-radius: 0.4rem;
  float: left;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23909eb2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center right 1rem;
  background-size: 1.2rem;
  background-repeat: no-repeat;
  color: var(--grey);
  height: 3.8rem;
}
.form .field__color input[type="color"] {
  height: 4.8rem;
  padding: 0.2rem;
  width: 9.6rem;
}
.form .field__link select.selected {
  color: var(--grey-darkest);
}
.form .field__link input[type="text"] {
  margin-bottom: 1.2rem;
}
.form .field__link input[type="url"] {
  width: calc(50% - 1.2rem);
  float: right;
}
.form .field__link span {
  width: 2.4rem;
  font: inherit;
  padding: 1.2rem 0;
  display: inline-block;
  text-align: center;
  line-height: 1;
  color: var(--grey-dark);
}
.form .field__link.required fieldset label::after {
  display: none;
}

.form .field__collection select {
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  width: 100%;
  border: var(--form-border);
  padding: 0 3.2rem 0 1.2rem;
  line-height: 1.2;
  background: white;
  border-radius: 0.4rem;
  float: left;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23909eb2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center right 1rem;
  background-size: 1.2rem;
  background-repeat: no-repeat;
  color: var(--grey);
  height: 3.8rem;
  margin-bottom: 1.8rem;
}

.form .field__collection select.selected {
  color: var(--grey-darkest);
}

.form .field__docs > label {
  display: none !important;
}

.form .field__docs > fieldset {
  border: none;
  color: white;
  padding: 1.2rem;
  border-radius: 0.8rem;
  background: var(--blue-3);
}

.form .field__docs .field__docs-title, 
.form .field__docs .field__docs-text {
  margin: 0 0 0.8rem;
}

.field__docs-title::before {
  content: "\f05a";
  font-family: 'fontawesome';
  margin-right: 0.6rem;
}

.form .field__docs .field__docs-link {
  background: white;
  border-radius: 0.4rem;
  padding: 0 1.2rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.8rem;
  font-weight: bold;
  color: var(--blue-3);
  width: fit-content;
  margin-left: auto;
  margin-top: 1.8rem;
  text-decoration: none !important;
}

.form .field__docs .field__docs-link::after {
  content: "\f0da";
  font-family: 'fontawesome';
  margin-left: 0.6rem;
  text-decoration: none !important;
}

.form div.previewable {
  border: var(--form-border);
  border-radius: 2px;
  position: relative;
  width: 100%;
  padding: 0 0 56.25% 0;
  height: 0;
  box-shadow: var(--elevation-2);
  background: white;
  border-radius: 0.4rem;
}
.form div.previewable::before {
  content: "Upload an Image";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: var(--slate-3);
  background: white;
  box-shadow: var(--elevation-2);
  z-index: 0;
  border-radius: 0.4rem;
}
.form div.previewable input:first-of-type {
  padding: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.form div.previewable .preview {
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  position: absolute !important;
  max-width: calc(100% - 1.6rem);
  width: 100%;
  max-height: calc(100% - 1.6rem);
  height: 100%;
  left: 50%;
  top: 50%;
  border-radius: 3px;
  z-index: 0;
  background: transparent;
  transform: translate(-50%, -50%);
  margin: auto;
}

.image-directive__empty-preview img {
  display: none;
}

.image-directive__progress {
  position: absolute;
  bottom: 0.8rem;
  left: 0.8rem;
  right: 0.8rem;
  z-index: 3;
  pointer-events: none;
  width: calc(100% - 1.6rem);
}

.form div.previewable .preview img:first-of-type {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  background: white;
  object-fit: contain;
}

.form div.previewable .preview img[src=""],
.form div.previewable .preview img[src=""] + .ui.checkbox {
  display: none;
}

.form div.previewable .ui.checkbox {
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
  margin: 0;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
  width: auto;
}
.form div.previewable .ui.checkbox label {
  margin: 0;
  color: white;
  padding: 0;
  font-weight: 600;
}
.form div.previewable .ui.checkbox label::before {
  display: none;
}
.form .ui.checkbox:after {
  display: none;
}
.form .ui.label:hover {
  text-decoration: none;
}
.form .input__url {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  overflow: hidden;
  border: 1px solid var(--slate-3);
  transition: border-color .18s ease-in-out;
}
.form .input__url span {
  display: inline-block;
  white-space: pre;
  width: 100%;
  padding: 1rem;
  border: var(--form-border);
  border-width: 0;
  border-right-width: 1px;
  border-radius: 2px;
  box-sizing: border-box;
  background: white;
  width: fit-content;
  padding-right: 1rem;
  height: 3.8rem;
  border-radius: 2px 0 0 2px;
  position: relative;
  z-index: 1;
  color: var(--slate-1);
  background: rgba(0, 0, 0, 0.05);
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.3;
  transition: border-color .18s ease-in-out, background-color .18s ease-in-out, color .18s ease-in-out;
}

.form .input__url input {
  padding-left: 0.8rem;
  border-left: transparent;
  border-radius: 0 2px 2px 0;
  border: none;
  transition: color .18s ease-in-out;
}

.form .input__url--error {
  border-color: var(--red-2);
}

.form .input__url--error span {
  border-color: var(--red-2);
  color: var(--red-2);
  background: var(--red-6);
  font-weight: bold;
}

.form .input__url--error input {
  color: var(--red );
  font-weight: bold;
}