.section {
  border-bottom: 1px solid var(--grey-lighter);
}

.section:last-of-type {
  border-bottom: none;
}

.section .header, .section .content {
  width: 100%;
  max-width: 74rem;
  margin: 0 auto;
  padding: 1.4rem;
  box-sizing: border-box;
}

.section .header.wide, .section .content.wide {
  max-width: 108rem;
}

.section .header {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.section .content {
  overflow: visible;
  -webkit-overflow-scrolling: touch;
}

.metadata {
  background-color: var(--grey-lightest);
  height: 0;
  padding: 0;
  transition: height 0.28s, margin 0.28s, visibility 0.28s, box-shadow 0.28s;
  overflow: hidden;
  visibility: hidden;
  box-sizing: border-box;
}

.metadata.open {
  transition: height 0.28s, margin 0.28s, visibility 0s, box-shadow 0.28s;
  visibility: visible;
  margin-bottom: 0;
  box-shadow: inset 0 -1px 0 0 var(--slate-3);
}

.metadata__delete {
  width: 100%;
}

.metadata input[type=submit] {
  width: 100%;
  border-width: 2px;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.metadata input[name='metadata[slug]']::placeholder {
  color: #98a8b9;
}

.metadata h3 {
  margin-bottom: 3.2rem;
}

.metadata {
  display: flex;
  flex-flow: column;
}

.metadata .field {
  flex-grow: 1;
}

.metadata .field__image {
  grid-column: 1/3;
}
