.page-templates {
  width: calc(100vw - 39.2rem);
  height: calc(100vh - 7.2rem);
  position: fixed;
  top: 1.2rem;
  right: 1.2rem;
  padding: 1.6rem 2rem 1.5rem;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 99999;
  transition: opacity .28s ease-in-out;
  border: none;
  overflow: auto;
  left: unset;
  border-radius: 0.4rem;
  border: 1px solid var(--slate-3) !important;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 12rem;
}

.page-templates[open] {
  opacity: 1;
  pointer-events: all;
}

.page-templates__list {
  list-style: none;
  text-align: center;
}

.page-templates__header {
  margin: 3.2rem 0 3.2rem;
  text-align: center;
  font-size: 2.8rem;
}

.page-templates__close {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  height: 3.2rem;
  box-sizing: border-box;
  padding: 0 2.8rem;
  font-size: 1.4rem;
  font-weight: bold;
  background: var(--slate-5);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.page-templates__close::before {
  content: "\f00d";
  font-family: 'fontawesome';
  margin-right: 0.8rem;
  position: relative;
  margin-left: -1.2rem;
}

.page-templates__template {
  display: inline-flex;
  justify-content: flex-start;
  margin-bottom: 3.2rem;
  margin-right: 3.2rem;
  text-align: center;
}

.page-templates__template a::after {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  width: calc(100% - 2.4rem);
  height: calc(100% - 4.8rem);
  border: 1px solid var(--slate-4);
  border-radius: 2px;
  background: var(--slate-5);
}

.page-templates__template a {
  position: relative;
  width: 220px;
  padding-top: 128px;
  border-radius: 4px;
  font-size: 1.4rem;
  line-height: 3.8rem;
  cursor: pointer;
  display: block;
  color: var(--black);
  font-weight: 600;
  text-transform: capitalize;
  background-clip: content-box;
  transition: box-shadow .18s, border-color .18s ease-in-out;
  border: 1px solid var(--slate-3);
  box-shadow: var(--elevation-4);
}

.page-templates__template a:hover, .page-templates__template a:focus {
  box-shadow: var(--elevation-6);
  border-color: var(--blue);
  text-decoration: none;
  opacity: 1;
}