main {
  width: 38rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  z-index: 998;

  --webkit-overflow-scrolling: auto;

  --webkit-scroll-snap-stop: always;
  --ms-scroll-snap-stop: always;
  scroll-snap-stop: always;

  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;

  -webkit-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;

  /* older spec implementation */
  -webkit-scroll-snap-destination: 0% 100%;
  -ms-scroll-snap-destination: 0% 100%;
  scroll-snap-destination: 0% 100%;
  -webkit-scroll-snap-points-x: repeat(100%);
  -ms-scroll-snap-points-x: repeat(100%);
  scroll-snap-points-x: repeat(100%);
  transform: translate3d(0, 0, 0);
}

main .heading {
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: auto;
}

main .sub-menu {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  height: 3.2rem;
  flex: 0 0 auto;
  position: sticky;
  top: 6.8rem;
  z-index: 999;
  box-shadow: var(--elevation-2);
  border-bottom: 1px solid var(--slate-3);
}

main .sub-menu li {
  flex-grow: 1;
}

main .sub-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  padding: 0.6rem;
  border-radius: 0;
  margin: 0;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  background-color: var(--slate-5);
  width: 100%;
  height: 100%;
}

main .sub-menu a.active,
main .sub-menu a:hover {
  background-color: var(--grey-darkerer);
  color: white;
  text-decoration: none;
}

main .menu {
  list-style: none;
  font-size: 1.2rem;
  margin-top: 1rem;
}

main .menu.fixed {
  float: right;
  margin-top: 0;
}

main .menu.fixed li:last-of-type {
  margin-right: 0;
}

main .menu.basic {
  padding-top: 0;
  padding-bottom: 0;
}

main .menu li {
  display: inline-block;
  margin: 0 2.5rem 0 0;
}

@media (min-width: 1280px) {
  main .menu li {
    margin: 0 0 0 2.5rem;
 }
}

main .menu a:not(.button) {
  color: var(--grey-darkest);
}
