.navbar {
  position: relative;
  height: 5.6rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.navbar .switch-website, .navbar .account {
  color: var(--grey-darker);
  transition: opacity 0.28s;
}

.navbar .switch-website:hover, .navbar .account:hover {
  opacity: 0.7;
  text-decoration: none;
}

.navbar h2 {
  flex: 1;
  margin-top: 2rem;
  padding: 0 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.navbar h2 .switch-website {
  display: inline-block;
  color: var(--grey-darker);
}

.navbar h2 .switch-website .ui.dropdown {
  padding: 0;
}

.navbar h2 .switch-website .ui.dropdown .text {
  margin: 0;
  color: var(--grey-darker);
}

.navbar h2 .switch-website .ui.dropdown .transition.menu {
  flex-direction: column;
  margin-top: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  border-width: 1px;
  min-width: 34rem;
  overflow: hidden;
  left: 50% !important;
  right: auto !important;
  transform: translateX(-15.6rem);
  animation: slideInMenu;
}
@media (max-device-width: 320px) {
  .navbar h2 .switch-website .ui.dropdown .transition.menu {
    min-width: 30rem;
    transform: translateX(-13.6rem);
 }
}

.navbar h2 .switch-website .ui.dropdown .scrolling.menu {
  border-radius: 0 !important;
}

.navbar h2 .switch-website .ui.dropdown .header {
  font-size: 1rem;
  letter-spacing: 1px;
}

.navbar h2 .switch-website .ui.dropdown .active.item {
  color: var(--grey);
  background-color: var(--grey-lightest);
  font-weight: 500;
}

.navbar h2 .switch-website .ui.dropdown .active.item:before {
  display: inline-block;
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  background-color: var(--purple-light);
  margin-right: 0.5rem;
}

.navbar h2 .switch-website .ui.dropdown:before {
  content: url(../images/switch.svg);
  margin-right: 1rem;
  vertical-align: middle;
}

.navbar h2 a {
  color: var(--grey-darker);
}

.navbar h2 .edit-website {
  content: url(../images/settings.svg);
  margin-left: 0.8rem;
  vertical-align: text-bottom;
}

.navbar h2 .last-updated {
  margin-top: 0.8rem;
  font-size: 1rem;
  font-weight: normal;
  color: var(--grey);
}

.navbar h2 time {
  font-weight: bold;
}

.navbar .account {
  display: block;
  position: absolute;
  left: 1rem;
  top: 50%;
  margin-top: -1.8rem;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 100%;
  overflow: hidden;
  z-index: 1;
}

.navbar .account img {
  width: 100%;
  vertical-align: middle;
}

.navbar .action {
  right: 1rem;
  top: 50%;
  margin-top: -1.7rem;
  min-width: 0;
  height: 4.2rem;
  padding: 0.9rem 1rem;
  font-size: 1.2rem;
  background: transparent;
  border: 1px solid var(--grey-dark);
  color: var(--grey-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.2rem;
  z-index: 1;
}
@media (min-width: 768px) {
  .navbar .action {
    min-width: 11.1rem;
 }
}

.navbar .action:hover, .navbar .action:active {
  color: var(--grey-darkest);
  border-color: var(--grey-darkest);
}

.navbar .action.hidden {
  display: none;
}

.navbar .action span {
  display: none;
}
@media (min-width: 768px) {
  .navbar .action span {
    display: inline-block;
 }
}

.navbar .action.view:before {
  display: inline-block;
  content: url('../images/view.svg');
  vertical-align: middle;
}
@media (min-width: 768px) {
  .navbar .action.view:before {
    margin-right: 0.5rem;
 }
}

.navbar .action.deploy {
  background-color: var(--purple);
  color: white;
}

.navbar .action.deploy:before {
  display: inline-block;
  content: url('../images/deploy.svg');
  vertical-align: middle;
}
@media (min-width: 768px) {
  .navbar .action.deploy:before {
    margin-right: 0.5rem;
 }
}

.navbar .action.build:hover {
  opacity: 1;
}

.navbar .action.build:before {
  content: url('../images/build.svg');
}
