.palette {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  list-style: none;
  padding: 0;
  margin: 1.8rem 0;
}

.palette__set {
  width: 100%;
}

.palette--hidden { display: none; }

.palette__list {
  display: flex;
  flex-flow: row;
  gap: 0.4rem;
  padding: 0;
  margin: 0;
}

.palette__color, .palette__gray, .palette__cta {
  width: auto;
  flex: 1 1 0;
  height: 0px;
  padding-top: calc(5% - 0.4rem);
  padding-bottom: calc(5% - 0.4rem);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: relative;
  border: 1px solid var(--primary-10);
  font-weight: bold;
  list-style: none;
  font-family: var(--serif);
}

.palette__gray { border: 1px solid var(--gray-10); }
.palette__cta { border: 1px solid var(--cta-10); }

.palette__input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.palette__color--0 { background-color: var(--primary-0); color: var(--primary-10) }
.palette__color--1 { background-color: var(--primary-1); color: var(--primary-10) }
.palette__color--2 { background-color: var(--primary-2); color: var(--primary-10) }
.palette__color--3 { background-color: var(--primary-3); color: var(--primary-10) }
.palette__color--4 { background-color: var(--primary-4); color: var(--primary-10) }
.palette__color--5 { background-color: var(--primary-5); color: var(--primary-10); font-size: 0; }
.palette__color--6 { background-color: var(--primary-6); color: var(--primary-0); }
.palette__color--7 { background-color: var(--primary-7); color: var(--primary-0); }
.palette__color--8 { background-color: var(--primary-8); color: var(--primary-0); }
.palette__color--9 { background-color: var(--primary-9); color: var(--primary-0); }
.palette__color--10 { background-color: var(--primary-10); color: var(--primary-0); }

.palette__gray--0 { background-color: var(--gray-0); color: var(--gray-10); }
.palette__gray--1 { background-color: var(--gray-1); color: var(--gray-10); }
.palette__gray--2 { background-color: var(--gray-2); color: var(--gray-10); }
.palette__gray--3 { background-color: var(--gray-3); color: var(--gray-10); }
.palette__gray--4 { background-color: var(--gray-4); color: var(--gray-10); }
.palette__gray--5 { background-color: var(--gray-5); color: var(--gray-10); }
.palette__gray--6 { background-color: var(--gray-6); color: var(--gray-0); }
.palette__gray--7 { background-color: var(--gray-7); color: var(--gray-0); }
.palette__gray--8 { background-color: var(--gray-8); color: var(--gray-0); }
.palette__gray--9 { background-color: var(--gray-9); color: var(--gray-0); }
.palette__gray--10 { background-color: var(--gray-10); color: var(--gray-0); }

.palette__cta--0 { background-color: var(--cta-0); color: var(--cta-10); }
.palette__cta--1 { background-color: var(--cta-1); color: var(--cta-10); }
.palette__cta--2 { background-color: var(--cta-2); color: var(--cta-10); }
.palette__cta--3 { background-color: var(--cta-3); color: var(--cta-10); }
.palette__cta--4 { background-color: var(--cta-4); color: var(--cta-10); }
.palette__cta--5 { background-color: var(--cta-5); color: var(--cta-10); font-size: 0; }
.palette__cta--6 { background-color: var(--cta-6); color: var(--cta-0); }
.palette__cta--7 { background-color: var(--cta-7); color: var(--cta-0); }
.palette__cta--8 { background-color: var(--cta-8); color: var(--cta-0); }
.palette__cta--9 { background-color: var(--cta-9); color: var(--cta-0); }
.palette__cta--10 { background-color: var(--cta-10); color: var(--cta-0); }

.palette__color--5, .palette__cta--5 {
  border-width: 3px;
  box-shadow: var(--elevation-2);
  position: relative;
  top: -1px;
}

.palette__color--5::before, .palette__cta--5::before {
  content: "\f044";
  font-family: "fontawesome";
  font-size: 1.8rem;
}

.palette__cta--custom.palette__cta--5 {
  border-radius: 0.4rem 0.4rem 0 0;
}

.palette__clear-cta {
  position: absolute;
  position: absolute;
  top: 100%;
  left: -3px;
  height: 1.8rem;
  right: -3px;
  border: none;
  background: var(--black);
  border-radius: 0 0 4px 4px;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  cursor: pointer;
}

.palette__clear-cta::before {
  content: "\f00d";
  font-family: 'fontawesome';
  color: var(--cta-0);
  font-size: 1.2rem;
}